<div class="nav-menu nhr-flex-h-16">
  <div class="button-wrapper">
    <div class="nav-menu-button nhr-flex-h-4" (click)="_router.navigate(['home'])">
      <i class="pi pi-home"></i>
      <h4>Acasă</h4>
    </div>
    <div class="nav-menu-button nhr-flex-h-4" (click)="_router.navigate(['accommodation'])">
      <i class="pi pi-building"></i>
      <h4>Cazare</h4>
    </div>
  </div>
  <div class="button-wrapper">
    <div class="nav-menu-button nhr-flex-h-4" (click)="_router.navigate(['tourist-attractions'])">
      <i class="pi pi-map"></i>
      <h4>Atracții</h4>
    </div>
    <div class="nav-menu-button nhr-flex-h-4" (click)="_router.navigate(['gallery'])">
      <i class="pi pi-images"></i>
      <h4>Galerie</h4>
    </div>
  </div>
</div>
