<div class="tourist-attractions nhr-flex-v-24 nhr-div">
  <h2>Atracții turistice în imediata apropiere</h2>
  <div class="tourist-attraction">
    <div class="text-container nhr-flex-v-4">
      <h3>MASIVUL RETEZAT</h3>
      <p>Munții Retezat sunt unul dintre cele mai înalte masive din Romania, făcând parte din Carpații Meridionali. Cel mai înalt vârf este Peleaga, la o altitudine de 2.509 metri. Alte vârfuri importante sunt Păpușa și Vârful Retezat.</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d412446.30242074194!2d22.766569824469734!3d45.32619157686085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474e0ba442a5f2b5%3A0x3276c299731ac972!2sRetezat%20Mountains!5e0!3m2!1sen!2sro!4v1720909934257!5m2!1sen!2sro" width="200" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <img src="/tourist-attractions/retezat.jpg" alt="cannot load image" loading="lazy"/>
  </div>
  <div class="tourist-attraction">
    <div class="text-container nhr-flex-v-4">
      <h3>MĂNĂSTIREA PRISLOP</h3>
      <p>Mănăstirea Prislop este o mănăstire din România situată în apropierea satului Silvașu de Sus din județul Hunedoara. În anul 1564 a fost zidită din temelie de Zamfira, fiica lui Moise Vodă din Țara Românească. Este posibil ca vechiul lăcaș, despre al cărui urme se scria la mijlocul secolului al XIX-lea, să fi existat undeva în pădure, în vecinătatea clădirilor actuale.</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2789.9649710283725!2d22.84461009265634!3d45.63143999769723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474e668472d63c5b%3A0x869728d9297927f3!2sPrislop%20Monastery!5e0!3m2!1sen!2sro!4v1720910137798!5m2!1sen!2sro" width="200" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <img src="/tourist-attractions/prislop.jpg" alt="cannot load image" loading="lazy"/>
  </div>
  <div class="tourist-attraction">
    <div class="text-container nhr-flex-v-4">
      <h3>LACURILE GLACIARE DIN MUNȚII RETEZAT</h3>
      <p>Majoritatea lacurilor din Munții Retezat sunt de origine glaciară și sunt răspândite pe cele aproape 40.000 de hectare ale Parcului Național Retezat din județul Hunedoara. Printre ele sunt 40 de lacuri mari și mijlocii și 18 lacuri mărunte, toate permanente.</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5606.807431754828!2d22.86394849730103!3d45.36085245917593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474e0bf5a888ce91%3A0x60b9c278e89bfcfe!2sLacul%20Bucura!5e0!3m2!1sen!2sro!4v1720910417131!5m2!1sen!2sro" width="200" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <img src="/tourist-attractions/lacuri_glaciare.jpg" alt="cannot load image" loading="lazy"/>
  </div>
  <div class="tourist-attraction">
    <div class="text-container nhr-flex-v-4">
      <h3>CASCADA LOLAIA</h3>
      <p>Cascada este situată la o altitudine de 1.050 de metri, în partea de nord a Parcului Național Retezat, pe Valea Nucșoarei. Această vale a adunat apele pâraielor Pietrele, Stânișoara, Galeșu și Valea Rea. Din fericire, accesul la această minunată atracție naturală se poate face foarte ușor, din Cârnic, deoarece aici este permis accesul cu mașina pe tot parcursul anului.</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2800.195838695699!2d22.894206576883704!3d45.42555343601547!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474e7337c286d9df%3A0xe751a8b4576b35d9!2sCascada%20Lolaia!5e0!3m2!1sen!2sro!4v1720910444398!5m2!1sen!2sro" width="200" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <img src="/tourist-attractions/lolaia.jpg" alt="cannot load image" loading="lazy"/>
  </div>
  <div class="tourist-attraction">
    <div class="text-container nhr-flex-v-4">
      <h3>CETATEA COLȚ</h3>
      <p>Cetatea a fost ridicată pe un colț de stâncă, la intrarea în defileul Râușorului, în jurul unui turn pătrat, căruia i-au fost adăugate un zid de incintă, fortificat cu alte turnuri. Deși a fost ridicată în scopuri de apărare, ea nu a îndeplinit niciodată acest rol, cele trei fortificații fiind prea mici pentru a face față unor armate de mari dimensiuni, așa că, cel mai probabil, cetatea servea ca loc de refugiu în cazul unor conflicte între cnezi. Are plan neregulat, adaptat formei de relief, este prevăzută cu un donjon masiv și a fost cea mai puternică cnezială din Transilvania.</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2797.58242194419!2d22.871787076885724!3d45.47821513250267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474e726c78dd8d95%3A0x5c24235ef0713c72!2sCol%C8%9B%20Fortress!5e0!3m2!1sen!2sro!4v1720910523011!5m2!1sen!2sro" width="200" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <img src="/tourist-attractions/cetatea_colt.jpg" alt="cannot load image" loading="lazy"/>
  </div>
  <div class="tourist-attraction">
    <div class="text-container nhr-flex-v-4">
      <h3>CETATEA MĂLĂIEȘTI</h3>
      <p>Cetatea Mălăiești este un ansamblu de monumente istorice situat în satul cu același nume, în comuna Sălașu de Sus. Specialiștii o descriu ca pe o cetate asemănătoare cu un donjon, cu o incintă circulară căreia i s-au adăugat 4 turnuri poligonale. Se spune că a fost construit de familia sarazină ca punct de observare și apărare. În primele două decenii ale secolului al XIV-lea au fost construite temnița și incinta din piatră. După aceea, au fost ridicați. În 1588 s-au adăugat cele 4 turnuri. Se spune că ar fi fost abandonată în secolul al XVII-lea.</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2797.342268609611!2d22.942533692616223!3d45.48305195760582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474e73e07c255555%3A0xcd72a80eb43468dc!2zQ2V0YXRlYSBNxINsxINpZcWfdGk!5e0!3m2!1sen!2sro!4v1720910549119!5m2!1sen!2sro" width="200" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <img src="/tourist-attractions/cetatea_malaiesti.jpg" alt="cannot load image" loading="lazy"/>
  </div>
  <div class="tourist-attraction">
    <div class="text-container nhr-flex-v-4">
      <h3>DINO PARK TRANSILVANIA</h3>
      <p>Situat pe Strada Cetății, în apropiere de Cetatea Râșnov, parcul are o suprafață de 3,5 hectare și găzduiește 100 de dinozauri atestați științific, reproduși în mărime naturală conform ultimelor descoperiri paleontologice.</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2795.1334244191085!2d22.90311677688748!3d45.52752052921073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474e714d639bc5a3%3A0xe2039ea7d438fb35!2sDinosaur%20World%20Transylvania!5e0!3m2!1sen!2sro!4v1720910576691!5m2!1sen!2sro" width="200" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <img src="/tourist-attractions/dino_park.jpg" alt="cannot load image" loading="lazy"/>
  </div>
  <div class="tourist-attraction">
    <div class="text-container nhr-flex-v-4">
      <h3>FUNDĂTURA PONORULUI</h3>
      <p>Fundatura Ponorului sau „Palmul lui Dumnezeu”, cum este cunoscută și această zonă, este locul în care timpul pare să fi înghețat. Fundatura Ponorului este situată în Parcul Național Grădiștea Muncelului-Cioclovina. Este o arie protejată de interes național, situată în grupa muntoasă a Munților Șureanu-Parâng-Lotrului, aparținând lanțului muntos al Carpaților Meridionali, în partea de sud a județului Hunedoara, pe teritoriile administrative Baru, comunele Boșorod, Bănița, Orăștioara de Sus. si Pui, la o altitudine de 900 de metri. Localnicii nu au o viață foarte ușoară, dar ca turist, acest loc te fascinează, pentru că timpul pare să stea pe loc, iar graba și agitația secolului XXI nu au traversat încă aceste văi.</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2793.964039941764!2d23.170638076888345!3d45.551048927638796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474dd7ce6d8d30c9%3A0x28599d3042ea0914!2sFund%C4%83tura%20Ponorului!5e0!3m2!1sen!2sro!4v1720910604027!5m2!1sen!2sro" width="200" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <img src="/tourist-attractions/fundatura_ponorului.jpg" alt="cannot load image" loading="lazy"/>
  </div>
  <div class="tourist-attraction">
    <div class="text-container nhr-flex-v-4">
      <h3>POIANA NARCISELOR</h3>
      <p>Poiana narciselor se întinde pe o suprafaţă de aproape 20 de hectare, fiind situată între localităţile Sălaşu de Sus şi Nucşoara, la poalele Retezatului, accesul putându-se face şi cu maşina. Oamenii locului spun că primele narcise au fost aduse la Sălaşu de Sus în anul 1900, de un cetăţean olandez. Iubite de localnici pentru forma şi parfumul lor, narcisele au fost protejate şi au ajuns să se dezvolte în perimetrul dintre cele două sate.</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2796.3153960048376!2d22.93928957688665!3d45.503729230799564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474e71cb6a2f74ab%3A0x7af0653ad21e1561!2sPoiana%20Narciselor!5e0!3m2!1sen!2sro!4v1720910631330!5m2!1sen!2sro" width="200" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <img src="/tourist-attractions/poiana_narciselor.jpg" alt="cannot load image" loading="lazy"/>
  </div>
  <div class="tourist-attraction">
    <div class="text-container nhr-flex-v-4">
      <h3>BISERICA SÂNTĂMĂRIE-ORLEA</h3>
      <p>Biserica Reformată-Calvină Sântămăria-Orlea, se numără printre cele mai vechi biserici din România, fiind construită către sfârșitul secolului al XIII-lea. Alcătuită dintr-o navă tăvănită, din turn pe fațada de vest și un altar dreptunghiular boltit în cruce pe ogive, prezintă forme arhitectonice specifice tranziției de la romanic la goticul timpuriu. In interior se află un valoros ansamblu de pictură murală.</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5584.250458746025!2d22.967755848869714!3d45.58802724249385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474e7adca87d0cb9%3A0x7270a5142a81c5a0!2sBiserica%20Reformat%C4%83!5e0!3m2!1sen!2sro!4v1720910674073!5m2!1sen!2sro" width="200" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <img src="/tourist-attractions/santamarie-orlea.jpg" alt="cannot load image" loading="lazy"/>
  </div>
  <div class="tourist-attraction">
    <div class="text-container nhr-flex-v-4">
      <h3>BARAJUL GURA APELOR</h3>
      <p>Construcția barajului a început în 1975. Dimensiunile lui sunt impresionante: 168 m înălțime, 225 milioane de metri cubi de apă în lacul de acumulare, dimensiunile întregului baraj le întrec de trei ori pe cele ale piramidei lui Keops. Pe cursul râului Mare a fost construită o salbă de 10 hidrocentrale. Amenajarea hidroenergetică Râul Mare-Retezat are ca rol atât producerea de energie electrică, cât și regularizarea cursului râului și atenuarea undelor de viitură. Ultima verigă finalizată este formată din lacul de acumulare, barajul și hidrocentrala de la Sântămăria-Orlea. Lacul de acumulare de la Orlea asigură alimentarea cu apă a aproape jumătate din județul Hunedoara, a orașelor Hațeg, Călan, Simeria, Deva.</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2804.4831151532326!2d22.719224476880477!3d45.33905914177876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474e11e8039c2845%3A0xb6cb16acd8ef1901!2sGura%20Apelor%20Dam!5e0!3m2!1sen!2sro!4v1720910703544!5m2!1sen!2sro" width="200" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <img src="/tourist-attractions/gura_apelor.jpg" alt="cannot load image" loading="lazy"/>
  </div>
  <div class="tourist-attraction">
    <div class="text-container nhr-flex-v-4">
      <h3>BISERICA DENSUȘ</h3>
      <p>Biserica „Sfântul Nicolae” este un lăcaș de cult ortodox din localitatea Densuș, județul Hunedoara, una dintre cele mai vechi biserici din România, datând se pare din secolele XII-XIII, a fost ridicată pe ruinele unei construcții din secolul IV d.Hr.; are plan pătrat, cu naosul străpuns de un turn, sprijinit pe o boltă și este dotată cu o adâncă absidă semicirculară; întreaga construcție este acoperită cu plăci de piatră, iar majoritatea materialului său provine de la Ulpia Traiana Sarmizegetusa, capitala Daciei romane (situată în apropiere); pictura murală a monumentului datează din secolul XV. Din 1991 este pe lista de monumente propuse pentru a intra în patrimoniul UNESCO. Nicolae Iorga a numit biserica "fără pereche în toată românimea". Biserica este trecută pe lista monumentelor istorice din județul Hunedoara cu codul HD-II-m-A-03307.</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11170.002343776114!2d22.77577392810585!3d45.58048075564093!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474e68b07b41c453%3A0x69ea451767d93c05!2sDensu%C8%99%20Church!5e0!3m2!1sen!2sro!4v1720910738989!5m2!1sen!2sro" width="200" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <img src="/tourist-attractions/biserica_densus.jpg" alt="cannot load image" loading="lazy"/>
  </div>
  <div class="tourist-attraction">
    <div class="text-container nhr-flex-v-4">
      <h3>SARMIZEGETUSA ULPIA TRAIANA</h3>
      <p>Colonia Ulpia Traiana Augusta Dacica Sarmizegetusa a fost capitala si cel mai mare oras al Daciei romane, numita ulterior Ulpia Traiana Sarmizegetusa dupa fosta capitala dacica, aflata la aproximativ 40 km distanta. Construit pe terenul unui lagăr al Legiunii a V-a Macedoneană, orașul a fost așezat de veterani ai războaielor dacice. De la bun început a primit titlul de colonia și statutul de ius Italicum. Cu o suprafață de 30 de hectare (74 de acri; 0,12 sq mi), o populație între 20.000 și 25.000 de locuitori și fortificații puternice, Ulpia Traiana a fost centrul politic, administrativ și religios al Daciei romane în secolele II și III. </p>
      <p>Orașul a fost distrus de goți. Astăzi Ulpia Traiana rămâne în ruine, cu un forum parțial conservat, un amfiteatru și rămășițe ale mai multor temple.</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2795.669171425687!2d22.78202389262541!3d45.51673795535823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474e6c1ec054e339%3A0x2ef52c33fdf3160a!2sOra%C8%99ul%20Antic%20Sarmizegetusa%20Ulpia%20Traiana!5e0!3m2!1sen!2sro!4v1720910770108!5m2!1sen!2sro" width="200" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <img src="/tourist-attractions/sarmi.png" alt="cannot load image" loading="lazy"/>
  </div>
</div>
