<div class="home-page nhr-div nhr-flex-v-32">
  <div class="row-1">
    <img src="/house/IMG_2133.jpg" alt="cannot load image" loading="lazy" />
    <div class="location nhr-flex-v-16">
      <h1>Bucură-te de liniște și aer curat, departe de agitația urbană, la pensiunea Nut House din Nucșoara</h1>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3704.169238894345!2d22.922251176885943!3d45.48493543205408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474e736827069ba7%3A0x8671a7e6a5623f1f!2sNUT%20HOUSE!5e1!3m2!1sen!2sro!4v1721863428076!5m2!1sen!2sro" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <div class="facilities">
    <div class="divider">&nbsp;</div>
    <h3>Facilități</h3>
    <div class="divider">&nbsp;</div>
  </div>
  <div class="row-2 nhr-flex-h-32">
    <div class="row-2-item">
      <img src="/facilities/wifi-signal.png" alt="cannot load image" />
      <div class="row-2-item-text nhr-flex-v-12">
        <h2>WI-FI GRATUIT</h2>
        <p>Cu Wi-Fi gratuit și alte facilități, oaspeții se bucură de cel mai înalt nivel de confort la costuri minime. Pentru a afla mai multe despre serviciile și ospitalitatea noastră, continuați să explorați site-ul sau sunați la numărul de telefon afișat</p>
      </div>
    </div>
    <div class="row-2-item">
      <img src="/facilities/img_2.png" alt="cannot load image" />
      <div class="row-2-item-text nhr-flex-v-12">
        <h2>GRĂTAR ÎN AER LIBER</h2>
        <p>După o zi plină de drumeții și efort fizic, bucură-te seara de un grătar bine meritat alături de prieteni și familie</p>
      </div>
    </div>
    <div class="row-2-item">
      <img src="/facilities/img_1.png" alt="cannot load image" />
      <div class="row-2-item-text nhr-flex-v-12">
        <h2>LOC DE JOACĂ PENTRU COPII</h2>
        <p>Nut House oferă celor mici un loc al lor, unde să-și exercite creativitatea și să-și consume energia</p>
      </div>
    </div>
    <div class="row-2-item">
      <img src="/facilities/parking.png" alt="cannot load image" />
      <div class="row-2-item-text nhr-flex-v-12">
        <h2>PARCARE GRATUITĂ</h2>
        <p>Pensiunea noastră asigură tuturor clienților locuri de parcare în curte, incluse în cazare</p>
      </div>
    </div>
    <div class="row-2-item">
      <img src="/facilities/gazebo.png" alt="cannot load image" />
      <div class="row-2-item-text nhr-flex-v-12">
        <h2>FOIȘOR</h2>
        <p>Un foișor confortabil, perfect pentru momente de relaxare și socializare. Ideal pentru a savura o masă în aer liber, pentru a petrece timp de calitate cu familia și prietenii sau pur și simplu pentru a te bucura de liniștea naturii.</p>
      </div>
    </div>
  </div>
</div>
