<div class="nhr-div nhr-flex-v-24 accomodation-page">
  <div class="accomodation">
    <div class="text nhr-flex-v-4">
      <h3>CAMERĂ DUBLĂ</h3>
      <p>NutHouse dispune de 4 camere duble cu pat matrimonial, baie proprie și șifonier</p>
    </div>
    <img src="/house/bedroom-2.jpg" alt="cannot load image" />
  </div>
  <div class="accomodation">
    <div class="text nhr-flex-v-4">
      <h3>CAMERĂ DUBLĂ CU BALCON</h3>
      <p>NutHouse dispune de 4 camere duble cu pat matrimonial, baie proprie, șifonier și balcon</p>
    </div>
    <img src="/house/bedroom-2b.jpg" alt="cannot load image" />
  </div>
</div>
